apiVersion: batch/v1
kind: Job
metadata:
  name: create-s3-buckets
spec:
  backoffLimit: 1
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: create-buckets
        image: {{ .Values.global.registry }}/{{ .Values.aws.repository }}:{{ .Values.aws.tag }}
        resources:
          {{- toYaml .Values.aws.resources | nindent 10 }}
        command:
        - /bin/sh
        - -c
        - |
          set -e

          AWS_ACCESS_KEY_ID=$(cat /var/secrets/s3/AWS_ACCESS_KEY_ID)
          AWS_SECRET_ACCESS_KEY=$(cat /var/secrets/s3/AWS_SECRET_ACCESS_KEY)
          AWS_DEFAULT_REGION=$(cat /var/secrets/s3/AWS_DEFAULT_REGION)
          SUPABASE_SERVICE_ROLE_KEY=$(cat /var/secrets/supabase/serviceKey)

          export AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY AWS_DEFAULT_REGION

          ENDPOINT="http://supabase-storage.enkryptai-stack.svc:5000/s3"
          HEALTH_URL="http://supabase-storage.enkryptai-stack.svc:5000/health"

          echo "Checking Supabase Storage health..."
          until [ "$(curl -s -o /dev/null -w "%{http_code}" -H "Authorization: Bearer ${SUPABASE_SERVICE_ROLE_KEY}" $HEALTH_URL)" -eq 200 ]; do
            echo "Storage not healthy yet. Sleeping 10s..."
            sleep 10
          done

          echo "Storage is healthy. Creating buckets..."

          BUCKETS="
          redteam
          red_teaming
          playground
          datasets
          dataset_red_teaming
          leaderboard
          code-of-conduct
          redteam_reports
          "

          for bucket in $BUCKETS; do
            if aws s3 ls "s3://$bucket" --endpoint-url $ENDPOINT >/dev/null 2>&1; then
              echo "Bucket '$bucket' exists. Skipping..."
            else
              echo "Creating bucket '$bucket'..."
              aws s3 mb "s3://$bucket" --endpoint-url $ENDPOINT
            fi
          done

        volumeMounts:
        - name: s3-credentials
          mountPath: /var/secrets/s3
        - name: supabase-credentials
          mountPath: /var/secrets/supabase

      volumes:
      - name: s3-credentials
        secret:
          secretName: s3-cred
      - name: supabase-credentials
        secret:
          secretName: onprem
