global: 
  platform: aws
  registry: vpcdepoyment.azurecr.io
aws: 
  region: "us-west-2"
  ClusterSecretStoreName: "enkryptai-clustersecret-store" 
backup: 
  openfgsS3Bucket: "s3://vpc"
  supabaseS3Bucket: "s3://vpc"
openfgaconfig:
  externalSecret:
    name: openfga-env-secret
    refreshInterval: "15m"
    secretStoreName: enkryptai-clustersecret-store
    secretStoreKind: ClusterSecretStore
    remoteSecretKey: enkryptaivpc/openfga
    keys:
      - secretKey: uri
        property: uri
      - secretKey: username 
        property: username 
      - secretKey: password 
        property: password
      - secretKey: test-query.sql 
        property: test-query.sql
supabase:
    repository: supabase
    tag: 16.0.1
openfga:
    repository: onprem/postgresql
    tag: 17.4-8
databasekong:
  repository: onprem/postgres
  tag: 16
migrationjob:
  repository: onprem/postgres
  tag: 15
sensor: 
  natsURL: "nats://nats.enkryptai-stack:4222"
  jobversion: "dev-v1.1.76" 
  jobImage: vpcdepoyment.azurecr.io/enkryptai-dev/redteam-job 

adminpassword: 
  secretName: "opensearch-cred"
clustername: "enkryptai-opensearch"
opensearch:
  general:
    image: "vpcdepoyment.azurecr.io/onprem/opensearch:3.2.0"
  dashboards:
    image: "vpcdepoyment.azurecr.io/onprem/opensearch-dashboards:3.2.0"
  initHelper:
    image: "vpcdepoyment.azurecr.io/onprem/busybox:latest"
  security:
  securityconfig: false
  users:
    admin:
      hash: ""
    dashboarduser:
      hash: ""
    kong_logs_plugin:
      hash: ""
    kibana_read_only:
      hash: ""
externalSecret:
  enabled: false
  databaseSecretName: onprem
  databaseSecretRepoName: enkryptaivpc/on-prem
  secretStoreRefName: enkryptai-clustersecret-store

platform-core:
  cloudnative-pg:
    enabled: true
    image:
      repository: vpcdepoyment.azurecr.io/onprem/cloudnative-pg
      tag: "1.27.0"
  opensearch-operator:
    manager:
      image:
        repository: vpcdepoyment.azurecr.io/onprem/opensearch-operator
        tag: "2.8.0"
    kubeRbacProxy:
      image:
        repository: vpcdepoyment.azurecr.io/onprem/kube-rbac-proxy
        tag: "v0.15.0"
  gpu-operator:
    operator:
      repository: vpcdepoyment.azurecr.io
      image: onprem/gpu-operator
      version: v24.9.0
      initContainer:
        repository: vpcdepoyment.azurecr.io
        image: onprem/gpu-operator-init
        version: v24.9.0
    node-feature-discovery:
      image:
        repository: vpcdepoyment.azurecr.io/onprem/node-feature-discovery
        tag: v0.16.6
    validator:
        repository: vpcdepoyment.azurecr.io
        image: onprem/gpu-operator-validator
        version: v24.9.0
    toolkit:
      repository: vpcdepoyment.azurecr.io
      image: onprem/container-toolkit
      version: v1.13.1-ubi8
    dcgm:
      repository: vpcdepoyment.azurecr.io
      image: onprem/dcgm-exporter
      version: 3.3.8-3.6.0-ubuntu22.04
    gfd:
      repository: vpcdepoyment.azurecr.io
      image: onprem/k8s-device-plugin
      version: v0.17.0-ubi9
    driver: 
      repository: vpcdepoyment.azurecr.io
      image: onprem/nvidia-driver
      version: 525.85.12-ubi9
      manager:
        repository: vpcdepoyment.azurecr.io
        image: onprem/k8s-driver-manager
        version: "v0.7.0"
    vgpuManager:
      repository: vpcdepoyment.azurecr.io
      image: onprem/vgpu-manager
      driverManager:
        repository: vpcdepoyment.azurecr.io
        image: onprem/k8s-driver-manager
        version: "v0.7.0"
    kataManager:
      repository: vpcdepoyment.azurecr.io
      image: onprem/k8s-kata-manager
      version: "v0.2.2"
    vfioManager:
      repository: vpcdepoyment.azurecr.io
      image: onprem/cuda
      version: "12.6.2-base-ubi9"

    vgpuDeviceManager:
      repository: vpcdepoyment.azurecr.io
      image: onprem/vgpu-device-manager
      version: "v0.2.8"
    ccManager:
      repository: vpcdepoyment.azurecr.io
      image: onprem/k8s-cc-manager
      version: "v0.1.1"
    devicePlugin:
      repository: vpcdepoyment.azurecr.io
      image: onprem/k8s-device-plugin
      version: "v0.17.0-ubi9"
    dcgmExporter:
      repository: vpcdepoyment.azurecr.io
      image: onprem/dcgm-exporter
      version: "3.3.8-3.6.0-ubuntu22.04"
    migManager:
      repository: vpcdepoyment.azurecr.io
      image: onprem/k8s-mig-manager
      version: "v0.10.0-ubuntu20.04"
    nodeStatusExporter:
      repository: vpcdepoyment.azurecr.io
      image: onprem/gpu-operator-validator
      version: "v24.9.0"
    gdrcopy:
      repository: vpcdepoyment.azurecr.io
      image: onprem/gdrdrv
      version: "v2.4.1-2"
    sandboxDevicePlugin:
      repository: vpcdepoyment.azurecr.io
      image: onprem/kubevirt-gpu-device-plugin
      version: "v1.2.10"
  keydb:
    imageRepository: vpcdepoyment.azurecr.io/onprem/keydb
    imageTag: x86_64_v6.3.2
  nats:
    natsBox:
      container:
        image:
          repository: onprem/nats-box
          tag: 0.18.0
    promExporter:
      image:
        repository: onprem/prometheus-nats-exporter
        tag: 0.17.3
    reloader:
      image:
        repository: onprem/nats-server-config-reloader
        tag: 0.19.1
    container:
      image:
        repository: onprem/nats
        tag: 2.11.8-alpine
    global: 
      image: 
        registry: vpcdepoyment.azurecr.io
  nack: 
    jetstream:
      enabled: true
      image:
        repository: onprem/jetstream-controller
        tag: 0.19.1
        registry: vpcdepoyment.azurecr.io
    nats: 
      url: nats://nats:4222
  external-secrets:
    enable: false
    repository: vpcdepoyment.azurecr.io/onprem/external-secrets
    tag: v0.20.1
    webhook: 
      certCheckInterval: "20s"
    serviceAccount:
      create: true
      automount: true
      name: "platform-external-secrets"
  cert-manager:
    enabled: false
    image:
      repository: vpcdepoyment.azurecr.io/onprem/cert-manager-controller
      tag: v1.19.1
    webhook:
      image:
        repository: vpcdepoyment.azurecr.io/onprem/cert-manager-webhook
    cainjector:
      image:
        repository: vpcdepoyment.azurecr.io/onprem/cert-manager-cainjector
        tag: v1.19.1
    acmesolver:
      image:
        repository: vpcdepoyment.azurecr.io/onprem/cert-manager-acmesolver
        tag: v1.19.1

