global: 
  platform: aws
  registry: 188451452903.dkr.ecr.us-east-1.amazonaws.com
aws: 
  region: "us-west-2"
backup: 
  openfgsS3Bucket: "s3://vpc"
  supabaseS3Bucket: "s3://vpc"
supabase:
    repository: supabase
    tag: 16.0.1
openfga:
    repository: onprem/postgresql
    tag: 17.4-8
databasekong:
  repository: onprem/postgres
  tag: 16
migrationjob:
  repository: onprem/postgres
  tag: 15
sensor: 
  natsURL: "nats://nats.enkryptai-stack:4222"
  jobversion: "dev-v1.1.76" 
  jobImage: 188451452903.dkr.ecr.us-east-1.amazonaws.com/enkryptai-dev/redteam-job 

adminpassword: 
  secretName: "opensearch-cred"
clustername: "enkryptai-opensearch"
opensearch:
  general:
    image: "188451452903.dkr.ecr.us-east-1.amazonaws.com/onprem/opensearch:3.2.0"
  dashboards:
    image: "188451452903.dkr.ecr.us-east-1.amazonaws.com/onprem/opensearch-dashboards:3.2.0"
  initHelper:
    image: "188451452903.dkr.ecr.us-east-1.amazonaws.com/onprem/busybox:latest"
  security:
  securityconfig: false
  users:
    admin:
      hash: ""
    dashboarduser:
      hash: ""
    kong_logs_plugin:
      hash: ""
    kibana_read_only:
      hash: ""
externalSecret:
  enabled: false
  databaseSecretName: onprem
  databaseSecretRepoName: enkryptaivpc/on-prem
  secretStoreRefName: enkryptai-clustersecret-store

platform-core:
  cloudnative-pg:
    enabled: true
    image:
      repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com/onprem/cloudnative-pg
      tag: "1.27.0"
  opensearch-operator:
    manager:
      image:
        repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com/onprem/opensearch-operator
        tag: "2.8.0"
    kubeRbacProxy:
      image:
        repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com/onprem/kube-rbac-proxy
        tag: "v0.15.0"
  gpu-operator:
    operator:
      repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
      image: onprem/gpu-operator
      version: v24.9.0
      initContainer:
        repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
        image: onprem/gpu-operator-init
        version: v24.9.0
    node-feature-discovery:
      image:
        repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com/onprem/node-feature-discovery
        tag: v0.16.6
    validator:
        repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
        image: onprem/gpu-operator-validator
        version: v24.9.0
    toolkit:
      repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
      image: onprem/container-toolkit
      version: v1.13.1-ubi8
    dcgm:
      repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
      image: onprem/dcgm-exporter
      version: 3.3.8-3.6.0-ubuntu22.04
    gfd:
      repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
      image: onprem/k8s-device-plugin
      version: v0.17.0-ubi9
    driver: 
      repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
      image: onprem/nvidia-driver
      version: 525.85.12-ubi9
      manager:
        repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
        image: onprem/k8s-driver-manager
        version: "v0.7.0"
    vgpuManager:
      repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
      image: onprem/vgpu-manager
      driverManager:
        repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
        image: onprem/k8s-driver-manager
        version: "v0.7.0"
    kataManager:
      repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
      image: onprem/k8s-kata-manager
      version: "v0.2.2"
    vfioManager:
      repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
      image: onprem/cuda
      version: "12.6.2-base-ubi9"

    vgpuDeviceManager:
      repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
      image: onprem/vgpu-device-manager
      version: "v0.2.8"
    ccManager:
      repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
      image: onprem/k8s-cc-manager
      version: "v0.1.1"
    devicePlugin:
      repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
      image: onprem/k8s-device-plugin
      version: "v0.17.0-ubi9"
    dcgmExporter:
      repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
      image: onprem/dcgm-exporter
      version: "3.3.8-3.6.0-ubuntu22.04"
    migManager:
      repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
      image: onprem/k8s-mig-manager
      version: "v0.10.0-ubuntu20.04"
    nodeStatusExporter:
      repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
      image: onprem/gpu-operator-validator
      version: "v24.9.0"
    gdrcopy:
      repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
      image: onprem/gdrdrv
      version: "v2.4.1-2"
    sandboxDevicePlugin:
      repository: 188451452903.dkr.ecr.us-east-1.amazonaws.com
      image: onprem/kubevirt-gpu-device-plugin
      version: "v1.2.10"
  keydb:
    imageRepository: 188451452903.dkr.ecr.us-east-1.amazonaws.com/onprem/keydb
    imageTag: x86_64_v6.3.2
  nats:
    natsBox:
      container:
        image:
          repository: onprem/nats-box
          tag: 0.18.0
    promExporter:
      image:
        repository: onprem/prometheus-nats-exporter
        tag: 0.17.3
    reloader:
      image:
        repository: onprem/nats-server-config-reloader
        tag: 0.19.1
    container:
      image:
        repository: onprem/nats
        tag: 2.11.8-alpine
    global: 
      image: 
        registry: 188451452903.dkr.ecr.us-east-1.amazonaws.com
  nack: 
    jetstream:
      enabled: true
      image:
        repository: onprem/jetstream-controller
        tag: 0.19.1
        registry: 188451452903.dkr.ecr.us-east-1.amazonaws.com
    nats: 
      url: nats://nats:4222
  argo-events: 
    namespaceOverride: "enkryptai-stack"
  argo-workflows:
    images:
      tag: ""
      pullPolicy: Always
      pullSecrets: []
    singleNamespace: true
    server:
      enabled: true
      baseHref: /
      image:
        registry: quay.io
        repository: argoproj/argocli
        tag: ""
      deploymentAnnotations: {}
      podAnnotations: {}
      podLabels: {}
      podSecurityContext: {}
      rbac:
        create: true
      securityContext:
        readOnlyRootFilesystem: false
        runAsNonRoot: true
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
    executor:
      image:
        registry: quay.io
        repository: argoproj/argoexec
        tag: ""
        pullPolicy: ""
      resources: {}
      args: []
      env: []
      securityContext: {}
    controller:
      image:
        registry: quay.io
        repository: argoproj/workflow-controller
        tag: ""
      namespaceParallelism: "10"
      retentionPolicy:
        completed: 10
        failed: 3
        errored: 3

