global: 
  platform: azure
  registry: vpcdepoyment.azurecr.io
aws: 
  region: "us-west-2"
backup: 
  openfgsS3Bucket: "s3://vpc"
  supabaseS3Bucket: "s3://vpc"
supabase:
    repository: supabase
    tag: 16.0.1
openfga:
    repository: onprem/postgresql
    tag: 17.4-8
databasekong:
  repository: onprem/postgres
  tag: 16
migrationjob:
  repository: onprem/postgres
  tag: 15
sensor: 
  natsURL: "nats://nats.enkryptai-stack:4222"
  jobversion: "prod-v1.0.29"
  jobImage: vpcdepoyment.azurecr.io/enkryptai-prod/redteam-job 

adminpassword: 
  secretName: "opensearch-cred"
clustername: "enkryptai-opensearch"
opensearch:
  general:
    image: "vpcdepoyment.azurecr.io/onprem/opensearch:3.2.0"
  dashboards:
    image: "vpcdepoyment.azurecr.io/onprem/opensearch-dashboards:3.2.0"
  initHelper:
    image: "vpcdepoyment.azurecr.io/onprem/busybox:latest"
  security:
  securityconfig: false
  users:
    admin:
      hash: ""
    dashboarduser:
      hash: ""
    kong_logs_plugin:
      hash: ""
    kibana_read_only:
      hash: ""

platform-core:
  namespaces:
    - name: argo-events
      labels:
        name: argo-events
  cloudnative-pg:
    enabled: true
    image:
      repository: vpcdepoyment.azurecr.io/onprem/cloudnative-pg
      tag: "1.27.0"
  opensearch-operator:
    manager:
      image:
        repository: vpcdepoyment.azurecr.io/onprem/opensearch-operator
        tag: "2.8.0"
    kubeRbacProxy:
      image:
        repository: vpcdepoyment.azurecr.io/onprem/kube-rbac-proxy
        tag: "v0.15.0"
  gpu-operator:
    operator:
      repository: vpcdepoyment.azurecr.io
      image: onprem/gpu-operator
      version: v24.9.0
      initContainer:
        repository: vpcdepoyment.azurecr.io
        image: onprem/gpu-operator-init
        version: v24.9.0
    node-feature-discovery:
      image:
        repository: vpcdepoyment.azurecr.io/onprem/node-feature-discovery
        tag: v0.16.6
    validator:
        repository: vpcdepoyment.azurecr.io
        image: onprem/gpu-operator-validator
        version: v24.9.0
    toolkit:
      repository: vpcdepoyment.azurecr.io
      image: onprem/container-toolkit
      version: v1.13.1-ubi8
    dcgm:
      repository: vpcdepoyment.azurecr.io
      image: onprem/dcgm-exporter
      version: 3.3.8-3.6.0-ubuntu22.04
    gfd:
      repository: vpcdepoyment.azurecr.io
      image: onprem/k8s-device-plugin
      version: v0.17.0-ubi9
    driver: 
      repository: vpcdepoyment.azurecr.io
      image: onprem/nvidia-driver
      version: 525.85.12-ubi9
      manager:
        repository: vpcdepoyment.azurecr.io
        image: onprem/k8s-driver-manager
        version: "v0.7.0"
    vgpuManager:
      repository: vpcdepoyment.azurecr.io
      image: onprem/vgpu-manager
      driverManager:
        repository: vpcdepoyment.azurecr.io
        image: onprem/k8s-driver-manager
        version: "v0.7.0"
    kataManager:
      repository: vpcdepoyment.azurecr.io
      image: onprem/k8s-kata-manager
      version: "v0.2.2"
    vfioManager:
      repository: vpcdepoyment.azurecr.io
      image: onprem/cuda
      version: "12.6.2-base-ubi9"

    vgpuDeviceManager:
      repository: vpcdepoyment.azurecr.io
      image: onprem/vgpu-device-manager
      version: "v0.2.8"
    ccManager:
      repository: vpcdepoyment.azurecr.io
      image: onprem/k8s-cc-manager
      version: "v0.1.1"
    devicePlugin:
      repository: vpcdepoyment.azurecr.io
      image: onprem/k8s-device-plugin
      version: "v0.17.0-ubi9"
    dcgmExporter:
      repository: vpcdepoyment.azurecr.io
      image: onprem/dcgm-exporter
      version: "3.3.8-3.6.0-ubuntu22.04"
    migManager:
      repository: vpcdepoyment.azurecr.io
      image: onprem/k8s-mig-manager
      version: "v0.10.0-ubuntu20.04"
    nodeStatusExporter:
      repository: vpcdepoyment.azurecr.io
      image: onprem/gpu-operator-validator
      version: "v24.9.0"
    gdrcopy:
      repository: vpcdepoyment.azurecr.io
      image: onprem/gdrdrv
      version: "v2.4.1-2"
    sandboxDevicePlugin:
      repository: vpcdepoyment.azurecr.io
      image: onprem/kubevirt-gpu-device-plugin
      version: "v1.2.10"
  keydb:
    imageRepository: vpcdepoyment.azurecr.io/onprem/keydb
    imageTag: x86_64_v6.3.2
  nats:
    natsBox:
      container:
        image:
          repository: onprem/nats-box
          tag: 0.18.0
    promExporter:
      image:
        repository: onprem/prometheus-nats-exporter
        tag: 0.17.3
    reloader:
      image:
        repository: onprem/nats-server-config-reloader
        tag: 0.19.1
    container:
      image:
        repository: onprem/nats
        tag: 2.11.8-alpine
    global: 
      image: 
        registry: vpcdepoyment.azurecr.io
  nack: 
    jetstream:
      enabled: true
      image:
        repository: onprem/jetstream-controller
        tag: 0.19.1
        registry: vpcdepoyment.azurecr.io
    nats: 
      url: nats://nats:4222
  argo-events: 
    namespaceOverride: "enkryptai-stack"
    configs:
      nats:
        versions:
          - version: latest
            natsStreamingImage: nats-streaming:latest
            metricsExporterImage: natsio/prometheus-nats-exporter:latest
          - version: 0.22.1
            natsStreamingImage: nats-streaming:0.22.1
            metricsExporterImage: natsio/prometheus-nats-exporter:0.8.0
      jetstream:
        settings:
          maxMemoryStore: -1
          maxFileStore: -1
        streamConfig:
          maxMsgs: 1000000
          maxAge: 72h
          maxBytes: 1GB
          replicas: 3
          duplicates: 300s
          retention: 0
          discard: 0
        versions:
          - version: latest
            natsImage: nats:2.10.10
            metricsExporterImage: natsio/prometheus-nats-exporter:0.14.0
            configReloaderImage: natsio/nats-server-config-reloader:0.14.0
            startCommand: /nats-server
          - version: 2.8.1
            natsImage: nats:2.8.1
            metricsExporterImage: natsio/prometheus-nats-exporter:0.9.1
            configReloaderImage: natsio/nats-server-config-reloader:0.7.0
            startCommand: /nats-server
          - version: 2.8.1-alpine
            natsImage: nats:2.8.1-alpine
            metricsExporterImage: natsio/prometheus-nats-exporter:0.9.1
            configReloaderImage: natsio/nats-server-config-reloader:0.7.0
            startCommand: nats-server
          - version: 2.8.2
            natsImage: nats:2.8.2
            metricsExporterImage: natsio/prometheus-nats-exporter:0.9.1
            configReloaderImage: natsio/nats-server-config-reloader:0.7.0
            startCommand: /nats-server
          - version: 2.8.2-alpine
            natsImage: nats:2.8.2-alpine
            metricsExporterImage: natsio/prometheus-nats-exporter:0.9.1
            configReloaderImage: natsio/nats-server-config-reloader:0.7.0
            startCommand: nats-server
          - version: 2.9.1
            natsImage: nats:2.9.1
            metricsExporterImage: natsio/prometheus-nats-exporter:0.9.1
            configReloaderImage: natsio/nats-server-config-reloader:0.7.0
            startCommand: /nats-server
          - version: 2.9.12
            natsImage: nats:2.9.12
            metricsExporterImage: natsio/prometheus-nats-exporter:0.9.1
            configReloaderImage: natsio/nats-server-config-reloader:0.7.0
            startCommand: /nats-server
          - version: 2.9.16
            natsImage: nats:2.9.16
            metricsExporterImage: natsio/prometheus-nats-exporter:0.9.1
            configReloaderImage: natsio/nats-server-config-reloader:0.7.0
            startCommand: /nats-server
          - version: 2.10.10
            natsImage: vpcdepoyment.azurecr.io/onprem/nats:2.10.10
            metricsExporterImage: vpcdepoyment.azurecr.io/onprem/prometheus-nats-exporter:0.14.0
            configReloaderImage: vpcdepoyment.azurecr.io/onprem/nats-server-config-reloader:0.14.0
            startCommand: /nats-server
    global:
      image:
        repository: vpcdepoyment.azurecr.io/onprem/argo-events
        tag: "v1.9.7"
        imagePullPolicy: IfNotPresent
  argo-workflows:
    images:
      tag: ""
      pullPolicy: Always
      pullSecrets: []
    singleNamespace: false
    server:
      enabled: true
      baseHref: /
      image:
        registry: vpcdepoyment.azurecr.io
        repository: onprem/argocli
        tag: "v3.7.1"
      deploymentAnnotations: {}
      podAnnotations: {}
      podLabels: {}
      podSecurityContext: {}
      rbac:
        create: true
      securityContext:
        readOnlyRootFilesystem: false
        runAsNonRoot: true
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
    executor:
      image:
        registry: vpcdepoyment.azurecr.io
        repository: onprem/argoexec
        tag: "v3.6.13"
        pullPolicy: ""
      resources: {}
      args: []
      env: []
      securityContext: {}
    controller:
      image:
        registry: vpcdepoyment.azurecr.io
        repository: onprem/workflow-controller
        tag: "v3.7.1"
      namespaceParallelism: "10"
      retentionPolicy:
        completed: 10
        failed: 3
        errored: 3
externalSecret:
  enabled: false

# ------------------------------------------------
# OTEL CONFIG
# -----------------------------------------------
otel:
  enabled: true
  mode: daemonset
  image:
    repository: otel/opentelemetry-collector-contrib
  
  clusterRole:
    create: true
    rules:
    - apiGroups: [""]
      resources: ["pods", "namespaces", "nodes"]
      verbs: ["get", "list", "watch"]

    - apiGroups: ["apps"]
      resources: ["replicasets", "deployments", "statefulsets", "daemonsets"]
      verbs: ["get", "list", "watch"]

    - apiGroups: ["batch"]
      resources: ["jobs", "cronjobs"]
      verbs: ["get", "list", "watch"]

  tolerations:
  - key: "app"
    operator: "Equal"
    value: "redteaming"
    effect: "NoSchedule"
    
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      cpu: 200m
      memory: 512Mi
  
  extraEnvs:
    - name: NODE_NAME
      valueFrom:
        fieldRef:
          fieldPath: spec.nodeName
    - name: POD_IP
      valueFrom:
        fieldRef:
          fieldPath: status.podIP
    - name: OPENSEARCH_USERNAME
      valueFrom:
        secretKeyRef:
          name: opensearch-cred
          key: username
    - name: OPENSEARCH_PASSWORD
      valueFrom:
        secretKeyRef:
          name: opensearch-cred
          key: password
  
  config:
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
      
      filelog:
        include: [/var/log/pods/*/*/*.log]
        exclude: [/var/log/pods/*/otel-*/*.log]
        start_at: beginning
        include_file_path: true
        operators:
          - type: container
            id: container-parser

    processors:

      batch:
        timeout: 10s
        send_batch_size: 256
        send_batch_max_size: 512
      
      memory_limiter:
        check_interval: 1s
        limit_mib: 800
      
      resource:
        attributes:
          - key: deployment.environment
            value: test
            action: insert
      
      resourcedetection:
        detectors: [env, system]
        timeout: 5s
      
      k8sattributes:
        auth_type: "serviceAccount"
        passthrough: false
        filter:
          node_from_env_var: NODE_NAME
        extract:
          metadata:
            - k8s.namespace.name
            - k8s.deployment.name
            - k8s.statefulset.name
            - k8s.daemonset.name
            - k8s.cronjob.name
            - k8s.job.name
            - k8s.node.name
            - k8s.pod.name
            - k8s.pod.uid
            - k8s.pod.start_time
        pod_association:
          - sources:
              - from: resource_attribute
                name: k8s.pod.ip
          - sources:
              - from: connection
    extensions:
      health_check:
        endpoint: ${env:POD_IP}:13133
      basicauth/os:
        client_auth:
          username: ${env:OPENSEARCH_USERNAME}
          password: ${env:OPENSEARCH_PASSWORD}

    exporters:
      debug:
        verbosity: basic
      
      opensearch:
        http:
          endpoint: https://enkryptai-opensearch-cluster.enkryptai-stack.svc.cluster.local:9200
          auth:
            authenticator: basicauth/os
          tls:
            insecure_skip_verify: true
          max_idle_conns: 100
          idle_conn_timeout: 90s
        
        logs_index: "otel-logs"
        traces_index: "otel-traces"

        sending_queue:
          enabled: true
          num_consumers: 5
          queue_size: 1000
        
        retry_on_failure:
          enabled: true
          initial_interval: 5s
          max_interval: 30s
          max_elapsed_time: 300s
        
        timeout: 60s

    service:
      extensions: [health_check, basicauth/os]
      pipelines:
        traces:
          receivers: [otlp]
          processors: [memory_limiter, resourcedetection, k8sattributes, resource, batch]
          exporters: [debug, opensearch]
        
        logs:
          receivers: [otlp, filelog]
          processors: [memory_limiter, resourcedetection, k8sattributes, resource, batch]
          exporters: [debug, opensearch]


  extraVolumes:
    - name: varlog
      hostPath:
        path: /var/log
  
  extraVolumeMounts:
    - name: varlog
      mountPath: /var/log
      readOnly: true
