apiVersion: opensearch.opster.io/v1
kind: OpensearchIndexTemplate
metadata:
  annotations:
    helm.sh/hook: post-install, post-upgrade
    helm.sh/hook-weight: "18"
  name: red-teaming-template
  namespace: enkryptai-stack
spec:
  indexPatterns:
  - red_teaming*
  name: red_teaming_template
  opensearchCluster:
    name: enkryptai-opensearch
  # Enable data stream mode
  dataStream: {}
  template:
    mappings:
      dynamic: "false"
      dynamic_templates:
      - attack_method_params:
          mapping:
            type: flat_object
          path_match: request.body.redteam_test_configurations.*.attack_methods.*.*.params
      - attack_method_names:
          mapping:
            fields:
              keyword:
                ignore_above: 256
                type: keyword
            type: text
          match_pattern: regex
          path_match: request.body.redteam_test_configurations.*.attack_methods.*.*
          unmatch: ^params$
      properties:
        '@timestamp':
          type: date
        authenticated_entity:
          properties:
            id:
              type: keyword
        client_ip:
          type: keyword
        consumer:
          properties:
            created_at:
              type: long
            custom_id:
              type: keyword
            id:
              type: keyword
            org_id:
              type: keyword
            project_name:
              type: keyword
            updated_at:
              type: long
            username:
              type: keyword
        correlation_id:
          type: keyword
        latencies:
          properties:
            kong:
              type: long
            proxy:
              type: long
            request:
              type: long
        request:
          properties:
            body:
              properties:
                attacks:
                  type: keyword
                metadata:
                  properties:
                    email_id:
                      type: keyword
                    user_id:
                      type: keyword
                redteam_test_configurations:
                  properties:
                    access_control_and_permissions_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    access_control_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    adv_bias_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    adv_command_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    adv_competitor_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    adv_info_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    adv_pii_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    adv_tool_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    agent_behaviour_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    agent_output_quality_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    alignment_and_governance_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    bias:
                      properties:
                        sample_percentage:
                          type: long
                        test_methods:
                          type: keyword
                    bias_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    cbrn_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    competitor_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        competitors_list:
                          type: keyword
                        sample_percentage:
                          type: long
                    copyright_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    custom_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    governance_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    hallucination:
                      properties:
                        sample_percentage:
                          type: long
                        test_methods:
                          type: keyword
                    harmful_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    human_factors_and_societal_impact_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    infrastructure_and_integration_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    input_and_content_integrity_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    insecure_code_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    jailbreak:
                      properties:
                        sample_percentage:
                          type: long
                        test_methods:
                          type: keyword
                    malware:
                      properties:
                        sample_percentage:
                          type: long
                        test_methods:
                          type: keyword
                    misinformation_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    physical_and_actuation_safety_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    pii_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    privacy_attack:
                      properties:
                        sample_percentage:
                          type: long
                        test_methods:
                          type: keyword
                    privacy_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    reliability_and_monitoring_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    reliability_and_observability_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    security_and_privacy_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    sponge_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    system_prompt_extractions_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    tool_extraction_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    tool_misuse_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    toxicity:
                      properties:
                        sample_percentage:
                          type: long
                        test_methods:
                          type: keyword
                    toxicity_test:
                      properties:
                        attack_methods:
                          enabled: true
                          type: object
                        sample_percentage:
                          type: long
                    toxicityexploitation:
                      properties:
                        sample_percentage:
                          type: long
                        test_methods:
                          type: keyword
                target_model_configuration:
                  properties:
                    metadata:
                      properties:
                        enkryptai:
                          properties:
                            deployment_name:
                              type: keyword
                            project:
                              type: keyword
                    model_name:
                      type: keyword
                    model_provider:
                      type: keyword
                    testing_for:
                      type: keyword
            coc_policy_id:
              type: long
            deployment_id:
              type: long
            exit_time:
              type: float
            id:
              type: keyword
            is_playground:
              type: boolean
            is_public:
              type: boolean
            method:
              type: keyword
            model_id:
              type: long
            ngx_req_id:
              type: keyword
            type:
              type: keyword
        response:
          properties:
            body:
              properties:
                iterative:
                  properties:
                    success:
                      type: long
                multi_turn:
                  properties:
                    success:
                      type: long
                single_shot:
                  properties:
                    success:
                      type: long
                task_id:
                  type: keyword
            status:
              type: long
        route:
          properties:
            name:
              type: keyword
            paths:
              type: keyword
        started_at:
          type: long
        upstream_uri:
          type: keyword
    settings:
      index.mapping.total_fields.limit: 3000
      number_of_replicas: 0
      number_of_shards: 1
