apiVersion: opensearch.opster.io/v1
kind: OpenSearchCluster
metadata:
  name: enkryptai-opensearch
  annotations:
    "helm.sh/hook-weight": "10"
    "helm.sh/hook": post-install
    {{- with .Values.openSearchAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  security:
    tls:
      transport:  
        generate: true  
      http:
        generate: true  
    config:
      securityConfigSecret:
        name: "opensearch-securityconfig"
      adminCredentialsSecret:
        name: "opensearch-cred"
  general:
    image: {{.Values.opensearch.general.image }}
    serviceName: enkryptai-opensearch-cluster
    version: 3.2.0
    pluginsList: ["repository-s3"]
    additionalConfig:
      reindex.ssl.verification_mode: none
    resources: {{- toYaml .Values.opensearch.general.resources | nindent 6 }}
  initHelper:
    image: {{ .Values.opensearch.initHelper.image }}
  dashboards:
    resources: {{- toYaml .Values.opensearch.dashboards.resources | nindent 6 }}
    image: {{ .Values.opensearch.dashboards.image }}
    opensearchCredentialsSecret:
      name: opensearch-cred
    enable: true
    tls:
      enable: false 
      generate: false
    version: 3.2.0
    replicas: 1
  nodePools:
    - component: masters
      replicas: 3
      diskSize: "40Gi"
      persistence:
        pvc:
          storageClass: gp3-encrypted
          accessModes:
          - ReadWriteOnce
      NodeSelector:
      resources:
         requests:
            memory: "2Gi"
            cpu: "500m"
         limits:
            memory: "3Gi"
            cpu: "1000m"
      roles:
        - "data"
        - "cluster_manager"
        - "master"
