apiVersion: opensearch.opster.io/v1
kind: OpenSearchISMPolicy
metadata:
  name: rollbar-policy
  annotations:
    helm.sh/hook-weight: "18"
    helm.sh/hook: "post-install,post-upgrade"
spec:
  opensearchCluster:
    name: {{ .Values.clustername }}
  description: "ISM policy equivalent to ES ILM"
  defaultState: hot
  ismTemplate:
    indexPatterns:
      - otel-*
      - admin
      - guardrails
      - ai-proxy
      - leaderboard
      - red_teaming
      - .ds-*
    priority: 999
  states:
    - name: hot
      actions:
        - rollover:
            min_index_age: "1d"
            min_size: "50gb"
        - replica_count:
            number_of_replicas: 1
      transitions:
        - stateName: warm
          conditions:
            minIndexAge: "15d"

    - name: warm
      actions:
        - read_only: {}
        - force_merge:
            max_num_segments: 1
        - replica_count:
            number_of_replicas: 0
      transitions:
        - stateName: delete
          conditions:
            minIndexAge: "{{ .Values.opensearch.ism.retentionDays }}d"

    - name: delete
      actions:
        - delete: {}
      transitions: []
