apiVersion: opensearch.opster.io/v1
kind: OpenSearchISMPolicy
metadata:
  name: rollbar-policy
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "18"
spec:
  opensearchCluster:
    name: {{ .Values.clustername }}

  description: "ISM policy equivalent to ES ILM"
  defaultState: hot

  ismTemplate:
    indexPatterns:
      - otel-logs-*
      - admin
      - guardrails
      - ai-proxy
      - leaderboard
      - red_teaming
      - .ds-*
    priority: 999

  states:
    - name: hot
      actions:
        - rollover:
            minIndexAge: "1d"
            minSize: "50gb"
        - replicaCount:
            numberOfReplicas: 1
      transitions:
        - stateName: warm
          conditions:
            minIndexAge: "7d"

    - name: warm
      actions:
        - readOnly: {}
        - forceMerge:
            maxNumSegments: 1
        - replicaCount:
            numberOfReplicas: 0
      transitions:
        - stateName: delete
          conditions:
            minIndexAge: "{{ .Values.opensearch.ism.retentionDays }}"
    - name: delete
      actions:
        - delete: {}
