# Default values for litellm.
replicaCount: 1

labels:
  app: litellm-gateway

podAnnotations:
  secret.reloader.stakater.com/reload: ""

image:
  repository: enkryptai-dev/litellm-gateway
  pullPolicy: IfNotPresent
  tag: "main-1771906797"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 443
  targetPort: 443
  name: https

resources:
  requests:
    cpu: 0.5
    memory: 1Gi
  limits:
    cpu: 1
    memory: 2Gi

livenessProbe:
  httpGet:
    path: /
    port: https
readinessProbe:
  httpGet:
    path: /
    port: https
autoscaling:
  enabled: false

envFrom:
  - secretRef:
      name: litellm-gateway-env-secret
env: []

nodeSelector: {}

tolerations: []

affinity: {}
