apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cluster-openfga
  annotations:
    "helm.sh/hook-weight": "20"
    "helm.sh/hook": post-install
spec:
  resources:
    {{- toYaml .Values.supabase.resources | nindent 4 }}
  imageName: {{ .Values.global.registry }}/{{ .Values.openfga.repository }}:{{ .Values.openfga.tag }}
  postgresGID: 26
  postgresUID: 26
  superuserSecret:
    name: postgres-superuser-secret
  bootstrap:
    initdb:
      secret:
        name: openfga-env-secret
      database: openfga
      owner: openfga
      encoding: UTF8
      localeCType: C
      localeCollate: C
      postInitApplicationSQLRefs: 
        secretRefs:
            - name: openfga-env-secret
              key: test-query.sql
  enableSuperuserAccess: true
  instances: 2
  storage:
     size: 15Gi
---
