apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: supabase-cluster
  annotations:
    "helm.sh/hook-weight": "20"

spec:
  imageName: {{ .Values.global.registry }}/{{ .Values.supabase.repository }}:{{ .Values.supabase.tag }}
  postgresGID: 26
  postgresUID: 26
  superuserSecret:
    name: postgres-superuser-secret
  postgresql:
    pg_hba:
      - local all  supabase_admin       scram-sha-256
      - local all  all                  peer map=supabase_map
      - host  all  all  127.0.0.1/32    trust
      - host  all  all  ::1/128         trust
      - host  all  all  10.0.0.0/8      scram-sha-256
      - host  all  all  172.16.0.0/12   scram-sha-256
      - host  all  all  192.168.0.0/16  scram-sha-256
      - host  all  all  0.0.0.0/0       scram-sha-256
      - host  all  all  ::0/0           scram-sha-256
    pg_ident:
      - supabase_map  postgres   postgres
      - supabase_map  gotrue     supabase_auth_admin
      - supabase_map  postgrest  authenticator
      - supabase_map  adminapi   postgres
    shared_preload_libraries:
      [
        pg_stat_statements,
        pg_stat_monitor,
        pgaudit,
        plpgsql,
        plpgsql_check,
        pg_cron,
        pg_net,
        timescaledb,
        auto_explain,
        pg_tle,
        supautils,
      ]
  
  bootstrap:
    initdb:
      secret:
        name: superuser-secret
      database: supabase
      owner: supabase_admin
      encoding: UTF8
      localeCType: C
      localeCollate: C
      postInitApplicationSQL: 
        - CREATE DATABASE kong; 
      postInitApplicationSQLRefs: 
        secretRefs:
            - name: superuser-secret
              key: grant-admin.sql
  enableSuperuserAccess: true
  instances: 3
  storage:
     size: 20Gi
---
